<!-- <p>Page Petprofile is connected</p>

<section>Page Title</section>
<section>Pet Image</section>
<section>Basic Info (Name, Breed, Age, Gender)</section>
<section>Medical History</section>
<section>Edit Profile Button</section>
 -->

<!-- {{petprofile|json}} -->

<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div
				class="burger-wrap"
				class="burger-wrap"
				(click)="isMenuOpen=!isMenuOpen"
				[class.burger-wrap--open]="isMenuOpen"
			>
				<div class="burger" [class.burger--close]="isMenuOpen"></div>
			</div>
			<div
				class="documents-sidebar"
				[class.documents-sidebar--open]="isMenuOpen"
			>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__img">
						<img src="assets/default.png" alt="" />
					</div>
					<div class="documents-sidebar__title">
						{{petprofile.name}}
					</div>
					<div
						*ngIf="this.petprofile.author === _userService.user._id"
					>
						<div>
							<wbutton (click)="update(petprofile)">Edit</wbutton>
							<wbutton (click)="delete(petprofile)"
								>Delete</wbutton
							>
						</div>
						<div>
							<petallergy-selector
								[value]="petprofile.allergies"
								(wChange)="allergy = $event; updateAllergies(petprofile)"
							>
							</petallergy-selector>
						</div>
					</div>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<div class="documents__title">{{petprofile.name}}</div>
						<div class="documents__species">
							{{petprofile.species}}
						</div>
						<div class="documents__breed">{{petprofile.breed}}</div>
						<div class="documents__age">{{petprofile.age}}</div>
						<div class="documents__gender">
							{{petprofile.gender}}
						</div>
						<div class="documents__description">
							{{petprofile.description}}
						</div>
					</div>
					<h3>Allergies</h3>
					<div
						*ngFor="let petallergy of petprofile.allergies"
						class="documents-main-row"
					>
						<app-allergies [petallergy]="petallergy">
						</app-allergies>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
