<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div
				class="burger-wrap"
				class="burger-wrap"
				(click)="isMenuOpen=!isMenuOpen"
				[class.burger-wrap--open]="isMenuOpen"
			>
				<div class="burger" [class.burger--close]="isMenuOpen"></div>
			</div>
			<div
				class="documents-sidebar"
				[class.documents-sidebar--open]="isMenuOpen"
			>
				<div class="documents-sidebar-content">
					<div
						*ngIf="this.petprofile.author === _userService.user._id"
					>
						<div>
							<wbutton (click)="update(petprofile)">Edit</wbutton>
							<wbutton (click)="delete(petprofile)"
								>Delete</wbutton
							>
						</div>
						<div>
							<petallergy-selector
								[value]="petprofile.allergies"
								(wChange)="allergy = $event; updateAllergies(petprofile)"
							>
							</petallergy-selector>
						</div>
					</div>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<img [src]="petPhoto" height="120px" alt="Pet photo" />

						<div class="documents__title">{{petprofile.name}}</div>
						<div class="documents__species">
							{{petprofile.species}}
						</div>
						<div class="documents__breed">{{petprofile.breed}}</div>
						<div class="documents__age">{{petprofile.age}}</div>
						<div class="documents__gender">
							{{petprofile.gender}}
						</div>
						<div class="documents__description">
							{{petprofile.description}}
						</div>
					</div>
					<h3>Allergies</h3>
					<div
						*ngFor="let petallergy of petprofile.allergies"
						class="documents-main-row"
					>
						<app-allergies [petallergy]="petallergy">
						</app-allergies>
					</div>
					<h3>User</h3>
					<div class="documents-main-row">
						<img
							[src]="apiUrl + user.thumb"
							height="60px"
							alt="Owner photo"
						/>
						<div>{{user.name}}</div>
						<div>{{user.email}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
