<!-- <p>Page Petprofile is connected</p>

<section>Page Title</section>
<section>Pet Image</section>
<section>Basic Info (Name, Breed, Age, Gender)</section>
<section>Medical History</section>
<section>Edit Profile Button</section>
 -->

<!-- {{petprofile|json}} -->

<div class="documents__title">{{petprofile.name}}</div>
<div class="documents__species">{{petprofile.species}}</div>
<div class="documents__breed">{{petprofile.breed}}</div>
<div class="documents__age">{{petprofile.age}}</div>
<div class="documents__gender">{{petprofile.gender}}</div>
<div class="documents__description">{{petprofile.description}}</div>
