<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div
				class="burger-wrap"
				class="burger-wrap"
				(click)="isMenuOpen=!isMenuOpen"
				[class.burger-wrap--open]="isMenuOpen"
			>
				<div class="burger" [class.burger--close]="isMenuOpen"></div>
			</div>
			<div
				class="documents-sidebar"
				[class.documents-sidebar--open]="isMenuOpen"
			>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__img">
						<img src="assets/default.png" alt="" />
					</div>
					<div class="documents-sidebar__title">
						{{petdoctor.name}}
					</div>
					<div>
						<wbutton (click)="update(petdoctor)">Edit</wbutton>
						<wbutton (click)="delete(petdoctor)">Delete</wbutton>
					</div>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<div class="documents__title">{{petdoctor.name}}</div>
						<div class="documents__specialization">
							{{petdoctor.specialization}}
						</div>
						<div class="documents__phone">{{petdoctor.phone}}</div>
						<div class="documents__email">{{petdoctor.email}}</div>
						<div class="documents__workingHours">
							{{petdoctor.workingHours}}
						</div>
						<div class="documents__description">
							{{petdoctor.description}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
