<!-- <p>Page Petstore is connected</p>

<section>Page Title</section>
<section>Product Categories (Food, Accessories, Medicine, etc.)</section>
<section>Product List</section>
<section>Product Details Link</section>
<section>Search Bar</section>
<section>Filter by Category/Price</section> -->

<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div
				class="burger-wrap"
				class="burger-wrap"
				(click)="isMenuOpen=!isMenuOpen"
				[class.burger-wrap--open]="isMenuOpen"
			>
				<div class="burger" [class.burger--close]="isMenuOpen"></div>
			</div>
			<div
				class="documents-sidebar"
				[class.documents-sidebar--open]="isMenuOpen"
			>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__title">Pet Stores</div>
					<div>
						<wbutton (click)="create()">Create</wbutton>
					</div>
					<div>
						<petfood-selector
							[value]="store_food"
							(wChange)="store_food = $event; load()"
						></petfood-selector>
						<petitem-selector
							[value]="store_item"
							(wChange)="store_item = $event; load()"
						></petitem-selector>
					</div>
					<div>
						<winput
							[type]="'search'"
							(wChange)="setSearch($event)"
							(wSubmit)="load()"
							[clearable]="true"
						></winput>
					</div>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div
						*ngFor="let store of stores"
						class="documents-main-row"
					>
						<app-store-list
							[store]="store"
							(load)="load()"
						></app-store-list>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
