<!-- <p>Page Petdoctors is connected</p>

<section>Page Title</section>
<section>Doctor List (Name, Specialization, Contacts)</section>
<section>Doctor Profile Link</section>
<section>Search Bar</section>
<section>Filter by Specialization/Location</section> -->

<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div
				class="burger-wrap"
				class="burger-wrap"
				(click)="isMenuOpen=!isMenuOpen"
				[class.burger-wrap--open]="isMenuOpen"
			>
				<div class="burger" [class.burger--close]="isMenuOpen"></div>
			</div>
			<div
				class="documents-sidebar"
				[class.documents-sidebar--open]="isMenuOpen"
			>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__img">
						<img src="assets/default.png" alt="" />
					</div>
					<div class="documents-sidebar__title">
						Pet Doctors
					</div>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div
						*ngFor="let doctor of doctors"
						class="documents-main-row"
					>
						<a routerLink="/petdoctorpage/{{doctor._id}}">
							<app-doctor [doctor]="doctor"></app-doctor>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
